/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

body {
  
}

img{
  position: absolute;
  padding-top: 0;

}



/* Sidebar Styles */

.sidebar-nav {

  position: absolute;
  
  width: 230px;
  margin: 0;
  padding: 0;
  padding-top: 140px;

  list-style: none;
height: 100%;
  background: #2C3E50;
  text-decoration: none;

}

i{
  padding-right: 15px;
}

label {
    /* Other styling.. */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.sidebar-nav li {
  text-indent: 10px;
  line-height: 50px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background:#16222d;
}




  




}
